<h1>SIGN IN</h1>
<form action='/users' method='post'>
	<input type="hidden" name="authenticity_token" value="VxLCoqvap2IdbFioGuFfTadt+I5jVDPKxwg+6/1wPZIXUHTPyQzAq6Bat6MXlSF9HYrxQN3aXSZWZqJPMf2HOw==" />
	<input type='text' placeholder="username" name='user[user_name]'><br>
	<input type='submit' value='Sign In'>
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |errors| %>
		<p style='color:red'><%= errors %></p>
	<% end %> 
<% end %>